.main {
  background: #fff;
}
.spline {
  width: 100%;
  height: 100vh;
}

/* ここからオリジナル */
.section_game {
  background: #222222;
  text-align: center;
  padding-bottom: 150px;
}

.h1 {
  font-size: 40px;
  background-color: #e0493b;
  color: #000;
  text-align: center;
  display: inline-block;
  position: relative;
  top: 98px;
}

.title {
  color: #fff;
  line-height: 3;
  font-size: 16px;
  margin-top: 20px;
  font-weight: 500;
}

.h1_bkfont {
  overflow: hidden;
}

.title_em {
  font-style: normal;
  background-color: #00c965;
  padding: 0px 2px;
}

.game_menu {
  width: 551px;
}

@media (max-width: 700px) {
  .section_game {
    background: #222222;
    text-align: center;
    padding-bottom: 150px;
  }

  .h1 {
    font-size: 32px;
    background-color: #e0493b;
    color: #000;
    text-align: center;
    display: inline-block;
    position: relative;
    top: 98px;
  }

  .title {
    color: #fff;
    line-height: 3;
    font-size: 12px;
    margin-top: 20px;
    font-weight: 700;
  }

  .h1_bkfont {
    overflow: hidden;
  }

  .title_em {
    font-style: normal;
    background-color: #00c965;
    padding: 0px 2px;
  }
}

/* QA質問 */

.section_qa {
  margin-top: 200px;
}
.h2 {
  text-align: center;
  font-size: 35px;
  font-weight: 900;
}
.qa_p {
  margin-top: 20px;
  margin-bottom: 75px;
  color: #0b0b0b;
  font-size: 15px;
  text-align: center;
  font-weight: 700;
}

.qa_dl_open {
  margin: 0 auto;
  display: block;
  width: 55%;
  border-radius: 16px;
  border: 2.5px solid #103047;
  margin-bottom: 40px;
}

.qa_button_open {
  border: none;
  border-bottom: #103047 2.5px dashed;
  margin: 0 auto;
  display: block;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 46px;
  padding-right: 40px;
  font-size: 15px;
  font-weight: 700;
  width: 100%;
  text-align: start;
  background-color: #f7f7f7;
  border-radius: 16px 16px 0px 0px;
  position: relative;
}

.qa_button_open::first-letter {
  font-size: 23px;
}

.qa_button_open::after {
  content: "";
  position: absolute;
  right: 6.5%;
  padding-left: 54px;
  background-image: url(/qa_open.svg);
  background-size: 35%;
  background-repeat: no-repeat;
  padding-top: 20px;
  padding-bottom: 28px;
  background-position: right center;
}

.qa_dd_open {
  padding: 30px 20px;
  font-size: 12px;
  line-height: 1.8;
}

.qa_dd_close {
  display: none;
}

.qa_button_close {
  margin: 0 auto;
  display: block;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 46px;
  padding-right: 40px;
  font-size: 15px;
  font-weight: 700;
  width: 55%;
  text-align: start;
  background-color: #f7f7f7;
  border-radius: 16px;
  margin-bottom: 40px;
  border: #103047 2.5px solid;
}

.qa_button_close::first-letter {
  font-size: 23px;
}

.qa_button_close::after {
  content: "";
  position: absolute;
  right: 26%;
  padding-left: 54px;
  background-image: url(/qa_close.svg);
  background-size: 35%;
  background-repeat: no-repeat;
  padding-top: 20px;
  padding-bottom: 28px;
  background-position: right center;
}

@media (max-width: 700px) {
  .h2 {
    text-align: center;
    font-size: 28px;
    font-weight: 900;
  }
  .qa_p {
    margin-top: 20px;
    margin-bottom: 75px;
    color: #0b0b0b;
    font-size: 15px;
    text-align: center;
    font-weight: 700;
  }

  .qa_dl_open {
    margin: 0 auto;
    display: block;
    width: 90%;
    border-radius: 16px;
    border: 2.5px solid #103047;
    margin-bottom: 40px;
  }

  .qa_button_open {
    border: none;
    border-bottom: #103047 2.5px dashed;
    margin: 0 auto;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 40px;
    font-size: 14px;
    font-weight: 700;
    width: 100%;
    text-align: start;
    background-color: #f7f7f7;
    border-radius: 16px 16px 0px 0px;
    position: relative;
    line-height: 2;
    color: #000;
  }

  .qa_button_open::first-letter {
    font-size: 20px;
  }

  .qa_button_open::after {
    content: "";
    position: absolute;
    position: absolute;
    top: 20px;
    right: 7%;
    padding-left: 54px;
    background-image: url(/qa_open.svg);
    background-size: 35%;
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-bottom: 28px;
    background-position: right center;
  }

  .qa_dd_open {
    padding: 30px 20px;
    font-size: 12px;
    line-height: 1.8;
  }

  .qa_dd_close {
    display: none;
  }

  .qa_button_close {
    margin: 0 auto;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 40px;
    font-size: 14px;
    font-weight: 700;
    width: 90%;
    text-align: start;
    background-color: #f7f7f7;
    border-radius: 16px;
    margin-bottom: 40px;
    border: #103047 2.5px solid;
    line-height: 2;
    position: relative;
    color: #000;
  }

  .qa_button_close::first-letter {
    font-size: 20px;
  }

  .qa_button_close::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 7%;
    padding-left: 50px;
    background-image: url(/qa_close.svg);
    background-size: 35%;
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-bottom: 28px;
    background-position: right center;
  }
}
/* ここからfooter */
.footer {
  text-align: center;
  background: #0b0b0b;
  margin-top: 200px;
}

.footer_text {
  background: #00c965;
  display: inline-block;
  padding: 15px 20px;
  color: #0b0b0b;
  font-size: 5px;
  font-weight: 700;
  border-radius: 50px;
  margin-bottom: 30px;
  position: relative;
}

.footer_text::after {
  content: "";
  border-top: 10px solid #00c965;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: 90%;
  right: 45%;
}

.footer_twitter{
  margin-right: 0px;
}

.footer_note{
  margin-left: 10px;
}

.footer_flex{
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 40px;
}

.gameLogo {
  padding-top: 80px;
  padding-bottom: 80px;
}

.copyright::before {
  content: "";
  width: 80%;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 0;
  right: 10%;
}

.copyright {
  color: #fff;
  font-size: 12px;
  font-weight: 100;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}

@media (max-width: 700px) {
  .footer_text {
    background: #00c965;
    display: inline-block;
    padding: 15px 20px;
    color: #0b0b0b;
    font-size: 12px;
    font-weight: 700;
    border-radius: 50px;
    margin-bottom: 30px;
    position: relative;
  }
}