$green : #05FF14;
$green :#00c965;

.main {
  background: #c8c8c8;
}

.chatbot{
  width: 100%;
  height: 80vh;
  margin: 0 auto;
  text-align: center;
}

.fv {
  background: #c8c8c8;
}

.fv_h1{
  position: absolute;
  top: 30px;
  left: 50px;
  font-size: 30px;
  font-family: vdl-logomaru-jr, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #fff;
}

.fv_parchese{
  position: absolute;
  top: 50px;
  font-size: 16px;
  right: 70px;
  color: #fff;
  background:#e0493b;
  padding: 48px 28px;
  border-radius: 50%;
  position: fixed;
  z-index: 20;
}

// .fv_parchese::after{
//   content: "";
//   position: absolute;
//   top: -40px;
//   right:-38px;
//   padding: 98px 98px;
//   background-image: url(/fv_parchese_bk.svg);
//   background-size: 80%;
//   background-repeat: no-repeat;
//   background-position: center center;
//   animation: rotate 10s linear infinite;
// }

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 700px) {
  .fv_h1{
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 23px;
    font-family: vdl-logomaru-jr, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #fff;
  }

  .fv_parchese{
    font-size: 14px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    background:#e0493b;
    padding: 33px 0px;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    z-index: 20;
    position: absolute;
    top: 79vh;
    right: 15px;
    position: fixed;
  }

  // .fv_parchese::after{
  //   content: "";
  //   position: absolute;
  //   top: -22px;
  //   right:-22px;
  //   padding: 57px 57px;
  //   background-image: url(/fv_parchese_bk.svg);
  //   background-size: 80%;
  //   background-repeat: no-repeat;
  //   background-position: center center;
  //   animation: rotate 10s linear infinite;
  // }
  
}
/* ローディング */
/* .lds{
  width: 100%;
  height: 100%;
  background: #C8C8C8;
}

.lds_spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds_spinner div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds_spinner 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds_spinner div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds_spinner {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}


.top_load{
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-size:23px;
  background: #343434;
  width: 100%;
  height: 100%;
  font-weight: 700;
  font-style: normal;
}

.game_load{
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-size:23px;
  background: #C8C8C8;
  width: 100%;
  height: 100%;
  font-weight: 700;
  font-style: normal;
} */

/* Spline */

.spline {
  width: 100%;
  height: 100vh;
}

.topmove p {
  text-align: center;
  background: rgb(131, 131, 131, 0.7);
  color: rgb(233, 233, 233);
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 12px;
  position: absolute;
  bottom: 170px;
  left: 50%;
  transform: translateX(-50%);
}

.scroll {
  display: inline-block;
  position: absolute;
  right: 5%;
  bottom: 45%;
  z-index: 10;
  padding: 10px 10px 100px;
  overflow: hidden;
  color: #fff;
  font-size: 15px;
  line-height: 1;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  writing-mode: vertical-lr;
  font-family: futura-pt-bold, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.scroll::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 1px;
  height: 80px;
  background: #fff;
  animation: sdl 1.5s cubic-bezier(1, 0, 0, 1) infinite;
}

@keyframes sdl {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  50.1% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}

/* ipadサイズ */

@media (max-width: 1000px) {
  .scroll {
    display: inline-block;
    position: absolute;
    right: 5%;
    bottom: 45%;
    z-index: 2;
    padding: 10px 10px 110px;
    overflow: hidden;
    color: #fff;
    font-size: 15px;
    line-height: 1;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    writing-mode: vertical-lr;
    font-family: futura-pt-bold, sans-serif;
    font-weight: 700;
  }
}

@media (max-width: 700px) {
  .spline {
    width: 100%;
    height: 100vh;
  }

  .topmove p {
    text-align: center;
    background: rgb(131, 131, 131, 0.7);
    color: rgb(233, 233, 233);
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 12px;
    position: absolute;
    bottom: 20%;
    left: 50%;
    z-index: 5;
    transform: translateX(-50%);
  }

  .scroll {
    display: inline-block;
    position: absolute;
    right: 3%;
    bottom: 50%;
    z-index: 2;
    padding: 10px 10px 90px;
    overflow: hidden;
    color: #fff;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    writing-mode: vertical-lr;
    font-family: futura-pt-bold, sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .scroll::after {
    content: "";
    position: absolute;
    bottom: 15px;
    left: 50%;
    width: 1px;
    height: 60px;
    background: #fff;
    animation: sdl 1.5s cubic-bezier(1, 0, 0, 1) infinite;
  }
}

/* フォント */

.font_VDL {
  font-family: vdl-logomaru-jr, sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* ここからオリジナル */
.section_game {
  background: #141414;
  text-align: center;
  padding-bottom: 110px;
}

.h1 {
  font-size: 60px;
  color: #fff;
  text-align: center;
  display: inline-block;
  position: relative;
  top: 220px;
  z-index: 5;
  font-weight: 400;
}

.h1_p{
  color: #fff;
  position: relative;
  top: 220px;
  z-index: 5;
}

.title {
  color: #fff;
  line-height: 2.7;
  font-size: 18px;
  margin-top: -22px;
  font-weight: 500;
}

.h1_bkfont_flex {
  animation: infinity-scroll-left 35s infinite linear 0.5s both;
  display: flex;
  display: -ms-grid;
}

.h1_bkfont_wrap {
  overflow: hidden;
  display: flex;
  position: relative;
  top: -20px;
}

@keyframes infinity-scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

// .title_em {
//   font-style: normal;
//   background-color: #00c965;
//   padding: 0px 2px;
// }

.game_menu {
  width: 551px;
}


@media (max-width: 700px) {
  .section_game {
    background: #141414;
    text-align: center;
    padding-bottom: 40px;
  }

  .h1 {
    font-size: 30px;
    color: #fff;
    text-align: center;
    display: inline-block;
    position: relative;
    top:  110px;
  }


.h1_p{
  color: #fff;
  position: relative;
  top: 110px;
  z-index: 5;
  font-size: 12px;
}

  .title {
    color: #fff;
    line-height: 3;
    font-size: 12px;
    margin-top: 0px;
    font-weight: 700;
    position: relative;
    top: -20px;
  }

  .h1_bkfont {
    overflow: hidden;
  }

  .explain{
    position: relative;
    top: -20px;
  }

  // .title_em {
  //   font-style: normal;
  //   background-color: #00c965;
  //   padding: 0px 2px;
  // }
}


// ゲーム購入バナー

.gamepurchase{
  display: flex;
  color: #0b0b0b;
  justify-content: center;
  align-items: center;
  background-color: #c8c8c8;
  width: 60%;
  margin: 0 auto;
  border-radius: 5px;
  margin-top: 120px;
}

.gamepurchase img{
  margin-bottom: 70px;
  margin-top: 70px;
}

.gamepurchase_right{
  text-align: left;
  padding-left: 60px;
}
.gamepurchase_font_VDL{
  font-size: 23px;
  font-family: vdl-logomaru-jr, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.gamepurchase_p{
  font-size:18px;
  margin-bottom: 40px;
  font-weight: 700;
}

.gamepurchase_en{
font-style: normal;
font-size: 10px;
padding-left: 3px;
padding-right: 5px;
}

.gamepurchase_kakko{
font-style: normal;
font-size: 13px;
}

.gamepurchase_btn{
  background: $green;
  padding: 13px 70px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 38px;
}

@media (max-width: 1100px) {
  .gamepurchase{
    display:block;
    color: #0b0b0b;
    justify-content: center;
    align-items: center;
    background-color: #c8c8c8;
    width: 75%;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 120px;
    padding-bottom: 50px;
  }

  .gamepurchase img{
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
  }

   .gamepurchase_right{
    margin: 0 auto;
    text-align: left;
    padding-left: 0px;
    width: 396px;
  }

}

@media (max-width: 700px) {
  .gamepurchase{
    display: block;
    color: #0b0b0b;
    justify-content: center;
    align-items: center;
    background-color: #c8c8c8;
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 120px;
  }
  
  .gamepurchase img{
    margin-bottom: 20px;
  }
  
  .gamepurchase_right{
    text-align: left;
    padding-left: 0px;
    width: 276px;
  }
  .gamepurchase_font_VDL{
    font-size: 23px;
    font-family: vdl-logomaru-jr, sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .gamepurchase_p{
    font-size:18px;
    margin-bottom: 40px;
    font-weight: 700;
  }
  
  .gamepurchase_en{
  font-style: normal;
  font-size: 10px;
  padding-left: 3px;
  padding-right: 5px;
  }
  
  .gamepurchase_kakko{
  font-style: normal;
  font-size: 13px;
  }
  
  .gamepurchase_btn{
    background: $green;
    padding: 13px 70px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 38px;
  }
}


// セット内容

.set{
  background:#141414;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.set canvas{
  border-radius: 5px;
}

.h2_span {
  color: $green;
  font-family: futura-pt-bold, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
}

.set h2 span{
  color: #fff;
  font-size: 35px;
  font-family: futura-pt-bold, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.set h2{
  margin-bottom: 50px;
}


.spline_set{
  margin: 0 auto;
  width: 60%;
  height: 65vh;
  border-radius: 30px;
}

.set_p{
  color: #0B0B0B;
  font-size: 13px;
  width: 50%;
  text-align: start;
  margin: 0 auto;
  line-height: 2;
  letter-spacing: 1px;
  position: relative;
  bottom: 90px;
  font-weight: 500;
}

@media (max-width: 1100px) {
  .spline_set{
    margin: 0 auto;
    width: 85%;
    height: 65vh;
    border-radius: 30px;
  }
  .set_p{
    color: #0B0B0B;
    font-size: 13px;
    width: 68%;
    text-align: start;
    margin: 0 auto;
    line-height: 2;
    letter-spacing: 1px;
    position: relative;
    bottom: 140px;
    font-weight: 400;
  }
}

@media (max-width: 700px) {

  .set{
    background:#141414;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 0px;
  }

  .set h2 span{
    color: #fff;
    font-size: 30px;
    font-family: futura-pt-bold, sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .spline_set{
    margin: 0 auto;
    width: 85%;
    height: 110vh;
    border-radius: 30px;
  }

  .set_p{
    color: #0B0B0B;
    font-size: 13px;
    width: 68%;
    text-align: start;
    margin: 0 auto;
    line-height: 2;
    letter-spacing: 1px;
    position: relative;
    bottom: 140px;
    font-weight: 400;
  }
  
  
}

/* ゲーム購入 */

.flex {
  display: flex;
}

.spline_game {
  width: 70%;
  height: 80vh;
}

.section_purchase {
  background: #343434;
  color: #fff;
}

.game_detail {
  margin: auto 0;
  margin-left: 50px;
  padding-bottom: 50px;
}

.section_purchase_gametitle dt {
  font-size: 28px;
  margin-bottom: 30px;
  padding-top: 30px;
}

.section_purchase_gametitle dd {
  font-size: 12px;
  width: 80%;
  line-height: 2;
  margin-bottom: 15px;
  position: relative;
}

.section_purchase_gametitle dd::after {
  content: "";
  background: #fff;
  width: 100%;
  height: 1px;
  left: 0;
  position: absolute;
  top: 140%;
}

.purchase_price {
  padding-top: 25px;
  font-size: 20px;
  position: relative;
  width: 80%;
}

.purchase_price_en {
  font-style: normal;
  font-size: 10px;
  padding-left: 3px;
  padding-right: 5px;
}

.purchase_price_kakko {
  font-style: normal;
  font-size: 13px;
}

.purchase_price::after {
  content: "";
  background: #fff;
  width: 100%;
  height: 1px;
  left: 0;
  position: absolute;
  top: 75px;
}

.section_purchase_author {
  margin-top: 40px;
  font-size: 12px;
}

.section_purchase_author div {
  display: flex;
  padding-bottom: 10px;
}

.section_purchase_author div dt {
  padding-right: 20px;
}

.game_a_purchase {
  background: #e0493b;
  border-radius: 33px;
  padding: 15px 65px 15px 25px;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  position: relative;
  top: 30px;
}

.game_a_purchase::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 27px;
  padding: 12px 12px;
  background-image: url(/purchase_a.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

/* ipadサイズ */

@media (max-width: 1000px) {
  .spline_game {
    width: 110%;
    height: 80vh;
  }

  .game_detail {
    margin: auto 0;
    margin-left: 10px;
    padding-bottom: 50px;
  }

  .section_purchase_gametitle dd::after {
    content: "";
    background: #fff;
    width: 100%;
    height: 1px;
    left: 0;
    position: absolute;
    top: 130%;
  }

  .section_purchase {
    background: #343434;
    color: #fff;
    padding-bottom: 30px;
  }
}

@media (max-width: 700px) {
  .flex {
    display: block;
  }

  .game_detail {
    margin: 0 auto;
    width: 80%;
  }

  .spline_game {
    width: 100%;
    height: 40vh;
    margin-bottom: 10px;
  }

  .section_purchase_gametitle dt {
    font-size: 28px;
    margin-bottom: 30px;
    padding-top: 10px;
  }

  .purchase_price {
    padding-top: 25px;
    font-size: 20px;
    position: relative;
    width: 100%;
  }

  .section_purchase {
    background: #343434;
    color: #fff;
    padding-bottom: 80px;
  }

  .section_purchase_gametitle dd {
    font-size: 12px;
    width: 100%;
    line-height: 2;
    margin-bottom: 15px;
    position: relative;
  }
}

/* Twitterシェア */

.twitter-tweet .twitter-tweet-rendered{
  margin: 0 auto;
  text-align: center;
  width: 30%;
}

//ABOUT US

.section_aboutas{
  margin: 0 auto;
  text-align: center;
  width: 80%;
  margin-top: 200px;
}

.section_aboutas h2{
  font-size:15px;
  font-family: futura-pt-bold, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.section_aboutas_dl1{
  font-size: 14px;
  margin-top: 12px;
}
.section_aboutas_dl1 dt{
  font-weight: 500;
}

.section_aboutas_dl1 dt em{
  font-size:24px;
  font-family: futura-pt-bold, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.section_aboutas_dl1 dd{
  font-weight: 500;
  width: 50%;
  margin: 0 auto;
  margin-top: 30px;
  line-height: 2;
}

.section_aboutas_dl2{
  margin-top: 60px;
}

.section_aboutas_dl2 dt{
  font-weight: 700;
  font-size: 14px;
}

.section_aboutas_dl2 dd{
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.section_aboutas_dl2 dd div{
  margin-top: 34px;
  padding-right: 30px;
  padding-left: 30px;
}

.section_aboutas_dl2 dd div p{
  margin-top: 26px;
  font-size: 13px;
}

@media (max-width: 700px) {
  .section_aboutas{
    margin: 0 auto;
    text-align: center;
    width: 80%;
    margin-top: 150px;
  }

  .section_aboutas_dl1 dd{
    font-weight: 500;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    line-height: 2;
  }
  
}

/* ここからfooter */
.footer {
  text-align: center;
  background: #0b0b0b;
  margin-top: 200px;
}

.footer_logo {
  color: #fff;
  font-family: vdl-logomaru-jr, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  padding-top: 45px;
  padding-bottom: 45px;
}

.footer_text {
  background: $green;
  display: inline-block;
  padding: 15px 20px;
  color: #0b0b0b;
  font-size: 10px;
  font-weight: 700;
  border-radius: 50px;
  margin-bottom: 30px;
  position: relative;
}

.footer_text::after {
  content: "";
  border-top: 10px solid $green;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: 90%;
  right: 45%;
  -webkit-text-size-adjust: 100%;
}

.footer_twitter {
  margin-right: 0px;
}

.footer_note {
  margin-left: 20px;
}

.footer_flex {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 40px;
}

.copyright::before {
  content: "";
  width: 80%;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 0;
  right: 10%;
}

.copyright {
  color: #fff;
  font-size: 12px;
  font-weight: 100;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}

/* ipadサイズ */

@media (max-width: 1000px) {
  .footer_text {
    background: $green;
    display: inline-block;
    padding: 15px 20px;
    color: #0b0b0b;
    font-size: 12px;
    font-weight: 700;
    border-radius: 50px;
    margin-bottom: 30px;
    position: relative;
  }
}

@media (max-width: 700px) {
  .footer {
    margin-top: 100px;
  }

  .footer_text {
    background: $green;
    display: inline-block;
    padding: 15px 20px;
    color: #0b0b0b;
    font-size: 12px;
    font-weight: 700;
    border-radius: 50px;
    margin-bottom: 30px;
    position: relative;
  }
}

.h2 span {
  font-family: futura-pt-bold, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.h1 span {
  font-family: vdl-logomaru-jr, sans-serif;
  font-weight: 700;
  font-style: normal;
  padding-right: 15px;
  padding-left: 15px;
}
